.header {
    
    background-color: rgba(24, 2, 20, 0.8);
    min-height: 10vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 3vmin);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-weight: bold;
    max-width: 100%;


}
.header-logo-left {
    zoom: 6%;
    animation: rotation1 8s infinite linear;

    

}
@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.header-logo-right {
  
    zoom: 6%;
    animation: rotation2 8s infinite linear;


}
@keyframes rotation2 {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
