.header {
    background-color: rgba(50, 145, 168, 0.8);
    min-height: 10vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}