.movies {
    padding-top: 20px;
}

table {
    border-collapse: collapse;
}  

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
.card {
    zoom: 80%;
    border: 3px dotted rgb(5, 51, 125); 
    border-radius: 1em;
    margin-top: 1.5em;
    font-size: 1.01em;
}
.title {
    font-weight: bold;
    font-size: 1.43em;
    color: rgb(27, 77, 94);
}
.poster {
    border: 3px solid rgb(17, 92, 212);
}
  